@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark2 --prefersdark;
    exclude: rootscrollgutter;
    --tw-border-style: solid;
}

@layer utilities {
    .alert.alert-soft {
        @apply border-l-5 border-solid;
        border-left-color: var(--alert-color);
    }

    .status {
        vertical-align: baseline;
        width: .7em;
        height: .7em;
    }
}

@plugin "daisyui/theme" {
  name: "dark2";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(70% 0.022 261.325);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(62% 0.265 303.9);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer customization {
    .btn-scene {
        text-shadow: 0 0 5px black, 0 0 5px black;
        border: 0 none;
    }
}
